{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Todo app</title>
{% endblock head %}


{% block content %}
  <main class="w-[1200px] h-screen p-4 flex flex-col">
    <h1 class="text-[60px] font-bold mt-4">Todo application</h1>
    <div class="mt-8 bg-fixed bg-[url(../static/images/banner.jpg)] min-h-[300px] bg-bottom rounded-2xl "></div>

    <div class="todo mt-[40px] flex">
      <div class="text">
      <h1 class="text-[40px] font-bold">Finish homework</h1>
      <p class="text-[32px] text-gray-500 font-bold">Lorem nisi dolor nihil libero sequi, magni dignissimos Eum amet ex sapiente quae cupiditate repellendus quisquam. Ipsam cum autem quae molestias accusantium suscipit. Debitis dolores sit mollitia sit modi? Praesentium?</p>
    </div>
      
    <div class="functions w-[40%] h-full flex flex-col items-center  gap-2">
      <button class="w-full hover:scale-[1.1] cursor-pointer bg-black text-white py-2 px-4 rounded-2xl font-bold hover:bg-gray-800">FINISHED</button>
      <button class="w-full hover:scale-[1.1] cursor-pointer bg-black text-white py-2 px-4 rounded-2xl font-bold hover:bg-gray-800">UPDATE</button>
      <button class="w-full hover:scale-[1.1] cursor-pointer bg-black text-white py-2 px-4 rounded-2xl font-bold hover:bg-gray-800">DELETE</button>
    
    </div>
      

      </div>

    <div class="todo mt-[40px] flex">
      <div class="text">
      <h1 class="text-[40px] font-bold">Finish homework</h1>
      <p class="text-[32px] text-gray-500 font-bold">Lorem nisi dolor nihil libero sequi, magni dignissimos Eum amet ex sapiente quae cupiditate repellendus quisquam. Ipsam cum autem quae molestias accusantium suscipit. Debitis dolores sit mollitia sit modi? Praesentium?</p>
      <p class="text-[32px] text-gray-500 font-bold">Lorem nisi dolor nihil libero sequi, magni dignissimos Eum amet ex sapiente quae cupiditate repellendus quisquam. Ipsam cum autem quae molestias accusantium suscipit. Debitis dolores sit mollitia sit modi? Praesentium?</p>
    </div>
      
    <div class="functions  w-[40%] h-full flex flex-col items-center  gap-2">
      <button class="w-full hover:scale-[1.1] cursor-pointer bg-black text-white py-2 px-4 rounded-2xl font-bold hover:bg-gray-800">FINISHED</button>
      <button class="w-full hover:scale-[1.1] cursor-pointer bg-black text-white py-2 px-4 rounded-2xl font-bold hover:bg-gray-800">UPDATE</button>
      <button class="w-full hover:scale-[1.1] cursor-pointer bg-black text-white py-2 px-4 rounded-2xl font-bold hover:bg-gray-800">DELETE</button>
    
    </div>
      
      </div>

    <div class="todo mt-[40px] flex">
      <div class="text">
      <h1 class="text-[40px] font-bold">Finish homework</h1>
      <p class="text-[32px] text-gray-500 font-bold">Lorem nisi dolor nihil libero sequi, magni dignissimos Eum amet ex sapiente quae cupiditate repellendus quisquam. Ipsam cum autem quae molestias accusantium suscipit. Debitis dolores sit mollitia sit modi? Praesentium?</p>
    </div>
      
    <div class="functions w-[40%] h-full flex flex-col items-center  gap-2">
      <button class="w-full hover:scale-[1.1] cursor-pointer bg-black text-white py-2 px-4 rounded-2xl font-bold hover:bg-gray-800">FINISHED</button>
      <button class="w-full hover:scale-[1.1] cursor-pointer bg-black text-white py-2 px-4 rounded-2xl font-bold hover:bg-gray-800">UPDATE</button>
      <button class="w-full hover:scale-[1.1] cursor-pointer bg-black text-white py-2 px-4 rounded-2xl font-bold hover:bg-gray-800">DELETE</button>
    
    </div>
      
      </div>


  </main>
{% endblock content %}
